<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<!--Bootstrap CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
		<div class="main-logo">

		</div>
		<div class="divider">

		</div>
		<div class="banner">

		</div>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
