{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = "form_container padding-top">
        <h1> New Item </h1>
        <br>
        <form action="{{url_for('newItem', category_id = category_id)}}" method = 'POST' enctype="multipart/form-data">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <label for="name">Name:</label>
                <input type='text' size='30' name='name'>
                <br>
                <label for="description">Description:</label>
					      <textarea class="form-control" maxlength="350" rows="3" name="description" placeholder="Description of the item"></textarea>
                <br>
                <label for="price">Price:</label>
					      <div class="input-group">
						            <div class="input-group-addon">$</div>
						            <input type ="text" maxlength="10" class="form-control" name="price">
					      </div>
                <br>
                <label for="recipe_image">Item Image</label>
                <div class="img-item">
                  <input type="file" class="form-file" name="item_image" id="item_image" aria-describedby="imageHelp">
                  <small id="imageHelp">Select an image for this item.</small>
                </div>
                <button type="submit" class="btn btn-create" id="submit" type="submit">
            					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Create</button>

        </form>
        <a href = '{{url_for('superclimbing')}}'>
             <button class="btn btn-cancel">
            <span class=" glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
        </a>
<div>
{% endblock %}
