{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <hr>
   <div class = 'flash'>
          {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
  </div>

  {% if username != "*" %}
  <!-- If user is logged , show the next options -->
  <div class="add-category-link">
    <a href="{{url_for('newCategory')}}">Add a Category <span class="glyphicon glyphicon-plus-sign"></span></a>
  </div>
  {% endif %}
    <div class="categories">
          <h3>Category</h3>
          <ul>
            {% for category in categories %}
                <a href = '{{url_for('showCategory', category_id=category.id)}}'><h4>{{category.name}}</h4></a>
           	{% endfor %}
          </ul>
        </div>
      <div class="items">
            <h3>Latest Items</h3>
            <ul>
              {% for last in lastest%}
            			<h4>{{last.name}}</h4>
            	{% endfor %}
            </ul>
          </div>
    </div>
{% endblock %}
